.room-code{
    height: 48px;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;

    background: #fff;
    border: 1px solid #835afd;
    cursor: pointer;

    display: flex;
    position: relative;

    div{
        background: #835afd;
        padding: 0 12px;
        display: flex;
        justify-content:center;
        align-items: center;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    span{
        width: 100%;
        font-size: 14px;
        font-weight: 500;
        text-align: center; 
        display: flex;
        justify-content: center;
        align-self: center;
    }
}